@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uew21r');
  src:  url('../fonts/icomoon.eot?uew21r#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uew21r') format('truetype'),
    url('../fonts/icomoon.woff?uew21r') format('woff'),
    url('../fonts/icomoon.svg?uew21r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 40px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-social-facebook:before {
  content: "\e902";
}
.ico-social-linkedin:before {
  content: "\e903";
}
.ico-news:before {
  content: "\e900";
}
.ico-image:before {
  content: "\e901";
}
.ico-news2:before {
  content: "\e904";
}
.ico-quote:before {
  content: "\e907";
}
.ico-google:before {
  content: "\e905";
}
.ico-instagram:before {
  content: "\e906";
}
.ico-file-text2:before {
  content: "\e926";
}
.ico-phone:before {
  content: "\e942";
}
.ico-address-book:before {
  content: "\e944";
}
.ico-envelop:before {
  content: "\e945";
}
.ico-location:before {
  content: "\e947";
}
.ico-location2:before {
  content: "\e948";
}
.ico-calendar:before {
  content: "\e953";
}
.ico-display:before {
  content: "\e956";
}
.ico-user:before {
  content: "\e971";
}
.ico-github:before {
  content: "\eab0";
}
.ico-skype:before {
  content: "\eac5";
}